button {
  background-color: lightblue;
  margin: 2px;
}

.color-picker-input {
  display: block;
  box-sizing: border-box;
  width: 90px;
  margin: 10px 55px 0;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #eee;
  text-align: center;
  letter-spacing: 1px;
}

.color-picker {
  margin: 12px;
}
 /* react-colorful overrides */
.react-colorful__last-control {
  border-radius: 0 !important;
  padding: 1px;
}

.react-colorful__pointer {
  box-shadow: 0 2px 4px 2px #00000088 !important;
}


.flex-container {
  display: flex;
}

input[type=range]
{
  border-radius: 0 0 8px 8px;  
  margin: 0;
  width: 100%;
  -webkit-appearance: none;
    
}

input[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  opacity: .5;

}

input[type=range]::-webkit-slider-thumb {
  border: 2px solid #ffffff;
  border-radius: 4px;
  height: 28px;
  width: 10px;
  background: #f0f;
  box-shadow: 0 2px 4px 2px #00000088;
  -webkit-appearance: none;
}
