.root {
  overflow: hidden;
}

body {
  --color-background: #fff;
  --color-gradient: #000;
  --color-foreground: #000;
  --color-button: #aaa;
  --color-button-active: #ddd;
}

.sunrise {
  --color-background: #ffcece;
  --color-gradient: #ffdbb1;
  --color-foreground: #403931;
  --color-button: #ffcece;
  --color-button-active: #fff5f5;  
}

.light {
  --color-background: #ffffff;
  --color-gradient: transparent;
  --color-foreground: #000000;
  --color-button: #d8f1fd;
  --color-button-active: #96dbfa;
}

.sunset {
  --color-background: #351931;
  --color-gradient: #3c0000;
  --color-foreground: #ffcece;
  --color-button: #351931;
  --color-button-active: #612e59;
}

.night {
  --color-background: #202230;
  --color-gradient: #1d1335;
  --color-foreground: #b0b0b0;
  --color-button: #202230;
  --color-button-active: #33364d;
}

.dark {
  --color-background: #1a1a1a;
  --color-gradient: transparent;
  --color-foreground: #a5a5a5;
  --color-button: #2a2a2a;
  --color-button-active: #111;
}

body {
  color: var(--color-foreground);
  background-color: var(--color-background);
  transition: color 2s ease-out, background-color 1s ease-out;
}

.gradient-background {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
  transition: opacity 2s ease-out;
}

.gradient-background-on {
  background: linear-gradient(transparent 0%, var(--color-gradient) 75%, transparent 100%);
  opacity: 1;
  transition: opacity 2s ease-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 2s ease-out;
}

img,
video {
  filter: grayscale(var(--image-grayscale)) opacity(var(--image-opacity));
}

button {
  background-color: var(--color-button);
  border-color: var(--color-foreground);
  color: var(--color-foreground);
  border-radius: 10px;
  margin: 8px 4px;
  display: inline-flex;
  font-size: 18px;
  align-items: center;
  padding-bottom: 4px;
  transition: background-color 2s ease-out, border-color  2s;
}

button:focus-visible {
  border: 2px solid;
  box-shadow: 0 2px 4px 4px #00000088;
}

.color-picker-input {
  display: block;
  box-sizing: border-box;
  width: 90px;
  margin: 10px 55px 0;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #eee;
  text-align: center;
  letter-spacing: 1px;
}

.drawing-canvas {
  display:flex;
  border: 1px solid var(--color-foreground);
  border-radius: 10px;
  box-shadow: 0 2px 4px 2px #00000088;
  margin-bottom: 4px;
  overflow: hidden;
  height: 55vh;
  width: 100%;
  transition: border-color  2s  ease-out;
}

.konvajs-content{
  min-height: 600px;
}

.material-icons {
  font-size: inherit;
  margin-right: 2px;
}

.drawing-tools {
  text-align: center;
}

 /* react-colorful overrides */
 .react-colorful {
  height: 125px !important;
  width: 100% !important;
 }

.react-colorful__last-control {
  border-radius: 0 !important;
  padding: 1px;
}

.react-colorful__pointer {
  box-shadow: 0 2px 4px 2px #00000088 !important;
}

.color-picker-input {
  margin: 0 auto;
}

h1 {
  font-size: 1.8em;
  font-family: 'OpenDyslexic3Regular', 'Architects Daughter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  margin: 0 0 16px;
}

h2 {
  font-size: 1.2em;
  font-family: 'OpenDyslexic3Regular', 'Architects Daughter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  margin: 0 0 6px;
  text-align: left;
}

span {
  font-family: 'OpenDyslexic3Regular', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

label {
  font-family: 'OpenDyslexic3Regular', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
}

.page-container {
  margin: 0 20px;
}

.flex-container {
  display: flex;
}

.sub-container {
  margin: 0 20px;
  max-width: 200px;
  width: 20vw;
}

.drawing-tool-options {
  margin-bottom: 40px;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}

.header {
  margin-bottom: 4px;
}

input[type=range]
{
  border-radius: 0 0 8px 8px;  
  margin: 0;
  height: 28px;
  width: 100%;
  -webkit-appearance: none; 
}

input[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  opacity: .5;
}

input[type=range]::-moz-range-track {
  cursor: pointer;
  opacity: .5;
}

input[type=range]::-webkit-slider-thumb {
  border: 2px solid #ffffff;
  border-radius: 4px;
  height: 28px;
  width: 10px;
  background: #888;
  box-shadow: 0 2px 4px 2px #00000088;
  -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
  border: 2px solid #ffffff;
  border-radius: 4px;
  height: 28px;
  width: 10px;
  background: #888;
  box-shadow: 0 2px 4px 2px #00000088;
  -moz-appearance: none;
}

.color-theme-slider {
  margin: 20px;
  width: 35vw;
}

/* rc-slider overrides */
.rc-slider-dot {
  bottom: -5px;
  width: 12px;
  height: 12px;
}

.rc-slider-mark-text {
  color: var(--color-foreground);
  font-size: 16px;
  width: fit-content;
  z-index: 0;
  transition: color 2s ease-out;
}

.rc-slider-mark {
  top: 12px;
}

.rc-slider-handle {
  height: 20px;
  width: 20px;
  margin-top: -8px;
}

.rc-slider-rail {
  background: linear-gradient();
}

@media (max-width: 1100px) {
  h2 {
    font-size: 1.75vw;
  }
  
  span {
    font-size: 1.65vw;
  }

  /* .sub-container {
    width: 17vw;
  } */
}

@media (max-width: 900px) {
  h1 {
    font-size: 3.2vw;
  }

  .rc-slider-mark-text {
    font-size: 1.8vw;
  }
}

@media (max-width: 600px) {
  .rc-slider-mark-text {
    font-size: 10px;
  }
}
